<% layout("./layouts/boilerplate") %>
  <h1>map() Method</h1>
  <p>
    This method creates a new array with the results of calling a callback on
    every item of an array.
  </p>
  <p>
    It makes it easy to see the difference between our original array, and the
    new one we created after the function ran on every item.
  </p>
  <img src="mapMethodDollars.png" alt="" />

  <p>
    Here we use the map() method to access the key of each object, it is
    returned and saves to a new array called firstNames.
  </p>
  <img src="mapMethodObjectsArray.png" alt="" />
  <script src="mapMethod.js"></script>