<% layout("./layouts/boilerplate") %>

  <h1>Random RGB Background Color</h1>
  <h1 id="color">rgb(255,255,255)</h1>
  <div id="buttonDiv"><button class="btn btn-outline-success" id="random">RANDOM</button></div>
  <script src="randomBackgroundColor.js"></script>