<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="pokemon.css" />


  <h1>ALL Pokemon (currently 905)</h1>
  <section id="container"></section>
  <script src="pokemon.js"></script>