<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="opacityAndAlphaChannel.css" />

  <h1>Opacity and Alpha channel</h1>
  <h2>Alpha channel (rgb"a")</h2>
  <p>
    The a element in rgba is to change the transparency of the color. Here are
    6 examples, in order, they have the 4th value set to 1, .8, .6, .4, .2 and
    0.
  </p>
  <p>This does not change the opacity of the text, if any.</p>
  <div id="buttonDiv">
    <section class="section">
      <div id="rgba1">Hi</div>
    </section>
    <section class="section">
      <div id="rgba2">Hi</div>
    </section>
    <section class="section">
      <div id="rgba3">Hi</div>
    </section>
    <section class="section">
      <div id="rgba4">Hi</div>
    </section>
    <section class="section">
      <div id="rgba5">Hi</div>
    </section>
    <section class="section">
      <div id="rgba6">Hi</div>
    </section>
  </div>
  <h2>Opacity</h2>
  <p>
    On the other hand, opacity, which is a property you can apply (opacity:)
    will alter all the content.
  </p>
  <p>
    Here are the same examples with the same values but with rgb, so the alpha
    has not been modified.
  </p>
  <div id="buttonDiv">
    <section class="section">
      <div id="opacity1">Hi</div>
    </section>
    <section class="section">
      <div id="opacity2">Hi</div>
    </section>
    <section class="section">
      <div id="opacity3">Hi</div>
    </section>
    <section class="section">
      <div id="opacity4">Hi</div>
    </section>
    <section class="section">
      <div id="opacity5">Hi</div>
    </section>
    <section class="section">
      <div id="opacity6">Hi</div>
    </section>
  </div>