<% layout("./layouts/boilerplate") %>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="google.Fonts.css" />

  <h1>Google Fonts</h1>
  <p>These fonts are free and can help us style our websites as we wish!</p>
  <p>
    We can go to their website, find a font we like, and then reference it on
    our head element of our HTML document.
  </p>
  <p>
    We also have to apply the font-family making sure it includes the name of
    the font and another font in case it does not work for a user in our CSS
    document.
  </p>
  <p>The Google fonts website has both things ready to copy and paste.</p>
  <p>And lastly, we apply the font weight we want.</p>
  <p>
    Example: #poppins100 { font-family: "Poppins", sans-serif; font-weight:
    100;
  </p>
  <hr />
  <p>
    This section has a width of 80% and a margin of auto. Font size is 25px.
  </p>
  <section id="section">
    <p id="poppins100">This is a font called poppins, this is Thin 100.</p>
    <p id="poppins200">
      This is a font called poppins, this is ExtraLight 200.
    </p>
    <p id="poppins300">This is a font called poppins, this is Light 300.</p>
    <p id="poppins400">This is a font called poppins, this is Regular 400.</p>
    <p id="poppins500">This is a font called poppins, this is Medium 500.</p>
    <p id="poppins600">
      This is a font called poppins, this is SemiBold 600.
    </p>
    <p id="poppins700">This is a font called poppins, this is Bold 700.</p>
    <p id="poppins800">
      This is a font called poppins, this is ExtraBold 800.
    </p>
    <p id="poppins900">This is a font called poppins, this is Black 900.</p>
  </section>
  <hr />
  <p>
    We added the font family to all paragraphs in the section, and then changed
    the weight for each one in order!
  </p>