<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="margin.css" />

  <h1>Margin</h1>
  <p>
    The margin is the space between a box and the edge of the screen, or
    between two boxes.
  </p>
  <p>
    The body has 8px of margin by default, it is common to have it be set to
    0px when creating a new website, it can be added later.
  </p>
  <p>
    Here we have 2 paragraphs with a width of 300px. The first box has a
    margin of 50px on all sides, the second has no margin other than the
    default. Now there is space between all sides of box 1.
  </p>
  <p>
    Box 2 has just a small default margin as we can see when comparing with
    the background-color.
  </p>
  <div id="div">
    <p id="p" class="marginned">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque error
      totam, vero maiores sequi praesentium culpa labore recusandae rem cum?
      Porro impedit quisquam beatae, perspiciatis et itaque odit velit
      commodi?
    </p>
  </div>
  <div id="div">
    <p id="p" class="p">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
      voluptas, inventore eius obcaecati, illum dolor ipsam laboriosam autem
      tempore placeat culpa hic magnam doloremque! Quis, earum nihil.
      Eligendi, rerum a?
    </p>
  </div>
  <p>All the padding shorthands work the same for margin</p>