<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="selectors.css" />

  <h3 id="disclaimer">THIS PAGE MAY LOOK VERY DIFFERENT FROM THE OTHERS!</h3>
  <h1>Selectors</h1>

  <p>Selectors help us style our HTML.</p>

  <h2>Universal selector *</h2>
  <p>
    The universal selector selects every single element on the page and styles
    it according to what we enter.
  </p>
  <p>We used it for the text color, which includes that of the buttons.</p>
  <p>The code looks like this: * { color: blue; }</p>
  <div id="buttonDiv"><button class="btn">Hello</button></div>
  <h2>The element selector</h2>
  <p>This one uses the element we enter only, such as h1,h2,button,etc.</p>
  <p>The background color of the h2 elements was styled this way.</p>
  <p>This was the code used: h2 { background-color: orange; }</p>
  <h2>Combining element selectors</h2>
  <p>
    We can also list multiple element selectors with a comma in between them
    to have the styles applied to all of them specifically.
  </p>
  <p>We styled the h1 and paragraphs background colors this way.</p>
  <p>This was the code used: h1, p { background-color: green; }</p>