<% layout("./layouts/boilerplate") %>
  <h1>Entities</h1>
  <p>
    These elements are used to prevent problems with the code editor
    formatting and to avoid confusion when pushing the text to the browser.
  </p>
  <p>They begin with an ampersand and end with a semicolon.</p>
  <p>
    There are hundreds of them, and they can easily be searched for online to
    get their specific number or name.
  </p>
  <p>This is the hearts entity: &hearts;</p>
  <p>
    It is also important to point out that certain characters are reserved and
    must always be typed in the code editor with their respective entity code.
    Suc as the less than, greater than and ampersand itself!
  </p>
  <p>
    This is to avoid confusing the editor from thinking you're opening up a new
    element or declaring a function, condition,etc.
  </p>
  <p>&amp; &gt; &lt;</p>
  <p>A snowman &#9731;</p>
  <p>And it's company?</p>
  <h1>&#9731; Snowman Productions<sup>&#174;</sup></h1>
  <p>The registered trademark symbol has the sup element of course.</p>