<% layout("./layouts/boilerplate") %>

  <h1>Naming Variables</h1>
  <p>The name is an identifier, and it should be descriptive.</p>
  <p>They can have numbers:</p>
  <p>let user254 = 5;</p>
  <p>But it can not be the first character, it will give us an error.</p>
  <h2>Best Practices</h2>
  <h3>under-case</h3>
  <p>We should not start with an under-case: let _hey = true;</p>
  <h3>CamelCase</h3>
  <p>
    It is possible to name a variable "nameofvariable", but we should uppercase
    each first letter of words after the first one.
  </p>
  <p>oneTwoThreeFour</p>
  <p>theNameOfMyVariable</p>
  <hr />
  <p>under_case and under-case is bad practice, we should use underCase.</p>
  <h3>Clearness</h3>
  <p>
    gameOver is a bad name, it would be more clear if we call it isGameOver.
  </p>
  <p>
    They should be meaningful, it doesn't matter if it is a little longer.
  </p>