<% layout("./layouts/boilerplate") %>
  <h1>Nesting Arrays and Objects</h1>
  <p>It is extremely common to have nested structures in websites.</p>
  <h2>Array of objects (Creating and Accessing values)</h2>
  <img src="arrayOfObjects.png" alt="" />