<% layout("./layouts/boilerplate") %>

  <h1>break Keyword</h1>
  <p>this keyword helps us escape a loop.</p>
  <p>
    Here we have 2 examples, one if in a while loop, the other in a for loop.
  </p>
  <p>
    The code will keep running until the condition before the brake keyword is
    met.
  </p>
  <img src="breakKeyword.png" alt="" />
  <script src="breakKeyword.js"></script>