<% layout("./layouts/boilerplate") %>

  <p>
    This refers to meaning, having a purpose on each section and element of
    code you write.
  </p>
  <p>It makes it easier for others to understand your code.</p>
  <p>
    Other than the div element, which is a general container element, there
    are many others that are more specific and promote good programming
    habits.
  </p>
  <p>
    There is the main, section, article, aside, header, footer, fig, abbr,
  </p>
  <p>
    This is an example of how semantic elements would be placed in the
    Wikipedia extract for Nutrition below.
  </p>
  <p>All the content has been sectioned into a main element.</p>
  <p>
    These links would be, (and are), inside nav elements, they are navigation
    links/elements. They are in an unordered list.
  </p>
  <main>
    <p>They can be anywhere in the page, not necessarily at the top.</p>
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </nav>
    <section>
      <p>
        From this text to the end of this definition, we are inside a section
        element.
      </p>
      <h1>Nutrition</h1>
      <p>
        Nutrition is the biochemical and physiological process by which an
        organism uses food to support its life. It includes ingestion,
        absorption, assimilation, biosynthesis, catabolism and excretion.[1]
        The science that studies the physiological process of nutrition is
        called nutritional science (also nutrition science).
      </p>
    </section>
    <footer>
      <p>This is my footer!</p>
      <p>
        It includes the time element for the paragraph below only, nested
        inside the footer. The time element is used inline, so it is inside a
        paragraph!
      </p>
      <p>
        It doesn't do any changes to the actual text, but it makes it readable
        by a machine as a date or time.
      </p>
      <p>
        This website was created on <time datetime="7-21-2022">July 21</time>
      </p>
      <ul>
        <li><a href="fjdfj">Help</a></li>
      </ul>
    </footer>
  </main>