<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="flexWrapRows.css" />

  <h1>flex-wrap ROWS</h1>
  <p>
    Flex wrap helps us determine the behavior our divs, or any element we are
    using, will have when it runs out of space to have its full size.
  </p>
  <h2>No flex-wrap</h2>
  <p>
    Here we have 5 divs, which are each 45px by 45px for width and height with
    a border of 5px. They are inside a container that is only 120px in height.
  </p>
  <p>
    They do not fit and as a consequence look like they are overflowing. There
    is no flex declared for this original example.
  </p>
  <section class="section" id="containersnowrap">
    <section class="section" id="container">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="containerlong">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>
  <hr />
  <h2>Rows</h2>

  <h2>flex-wrap</h2>
  <p>Here is the same example, but with display: flex.</p>
  <p>We also set flex-wrap: wrap.</p>
  <p>The divs wrap around once they can't fit and go to the next column.</p>
  <p>And they can have the justify-content styled as wished too.</p>
  <h2>This is justify-content: flex-start (THE DEFAULT)</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapflexstart">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapflexstart2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>
  <h2>justify-content: flex-end</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapflexend">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapflexend2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <h2>justify-content: center</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapcenter">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapcenter2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <h2>justify-content: space-between</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapspacebetween">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapspacebetween2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <h2>justify-content: space-around</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapspacearound">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapspacearound2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <h2>justify-content: space-evenly</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapspaceevenly">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapspaceevenly2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <hr />
  <h2>flex-wrap: wrap-reverse</h2>
  <p>This one also wraps our divs, but in reverse order.</p>
  <h2>This is justify-content: flex-start (THE DEFAULT)</h2>
  <section class="section" id="containers">
    <section class="section" id="rowflexwrapreverse">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
    <section class="section" id="rowflexwrapreverse2">
      <div id="div">A</div>
      <div id="div">B</div>
      <div id="div">C</div>
      <div id="div">D</div>
      <div id="div">E</div>
      <div id="div" class="f">F</div>
      <div id="div" class="g">G</div>
    </section>
  </section>

  <hr />