<% layout("./layouts/boilerplate") %>
  <title>Booleans</title>

  <body>
    <h1>Booleans</h1>
    <p>true and false</p>
    <p>true = true</p>
    <p>false = false</p>
    <p>
      They are another primitive type value. We can check things with booleans.
    </p>
    <p>let isLoggedIn = true;</p>
    <hr />
    <p>Variables can change from one value type to another.</p>
    <p>let randomValue = 55; Here it is a number!</p>
    <p>let randomValue = true; Here it is a boolean!</p>
    <p>let randomValue = 250; Here it is a number again!</p>