<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="position.css" />
  <div class="allOfIt">

    <h1>Position</h1>
    <p>
      These properties help elements behave in ways they would not normally. The
      default position is static. Applying it to an object would not make any
      change.
    </p>
    <p>
      We will be changing the behavior of the first, second, third and fourth
      div boxes in that order per example.
    </p>
    <p>
      With positions, we can now change the top, bottom, left and right
      properties for our divs.
    </p>
    <h2>Static</h2>
    <p>We applied the static position and added left:100px.</p>
    <p>
      There are no changes, first because static is the default, and this
      position does not take top, bottom, left and right, it just ignores them.
    </p>
    <div class="div1 div" id="static">Hi.</div>
    <div id="div" class="div2">Hi.</div>
    <div id="div" class="div3">Hi.</div>
    <div id="div" class="div4">Hi.</div>
    <hr />
    <h2>Relative</h2>
    <p>
      This position is based on the elements around it. We added 25px to top and
      left, we can see it shifted 25px from the top, and also that amount from
      the left.
    </p>
    <div id="div" class="div1">Hi.</div>
    <div class="div2 div" id="relative">Hi.</div>
    <div id="div" class="div3">Hi.</div>
    <div id="div" class="div4">Hi.</div>
    <hr />
    <h2>Absolute</h2>
    <p>
      THis position ignores the parents and children, we can see it is all the
      way on the top left corner, 25px from the left and 25px from the top.
    </p>
    <p>
      We gave the body a top-margin of 200 px to make sure we could still see
      the h1 header and the first paragraph, since the div box would block the
      content below it!
    </p>
    <p>The space it left is now occupied by the originally 4th div box.</p>
    <div id="div" class="div1">Hi.</div>
    <div id="div" class="div2">Hi.</div>
    <div class="div3 div" id="absolute">Hi.</div>
    <div id="div" class="div4">Hi.</div>
    <hr />
    <h2>Sticky</h2>
    <p>
      This position will stay at its normal position until we scroll the page
      past its location. Once the other 3 divs are beginning to be out off sight
      from the website, this div box will stay on the top anyway!
    </p>
    <div id="div" class="div1">Hi.</div>
    <div id="div" class="div2">Hi.</div>
    <div id="div" class="div3">Hi.</div>
    <div class="div4 div" id="sticky">Hi.</div>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sint
      earum veritatis voluptatem vel nemo quia voluptatum et vero distinctio
      vitae quam, consequatur nihil corporis nulla dolorum suscipit deserunt
      aliquid! Consequatur, deleniti, laboriosam iusto magnam explicabo ducimus
      accusamus eos nesciunt incidunt, quod vitae. Beatae quasi corporis soluta,
      dignissimos error laudantium! Non dignissimos dicta reiciendis facere
      perspiciatis hic doloremque dolor illum! Deserunt ut, neque eaque qui
      corporis hic quam iusto aliquam obcaecati nihil quia perspiciatis nulla
      tempore aut numquam delectus libero quidem aperiam quisquam ea nemo ipsum
      provident molestias ducimus? Consectetur! Officia distinctio et a hic, eos
      atque quisquam minus quos voluptatibus! Expedita iste dolor adipisci at
      necessitatibus temporibus iusto magni voluptatem eos pariatur sunt,
      tempore reiciendis. Iure accusamus fuga voluptatibus? Dicta aperiam sed
      tempore quam! Deleniti consequuntur obcaecati hic esse molestiae
      repudiandae optio suscipit, aut est voluptatum et quisquam. Ut aut
      reiciendis unde quo voluptas numquam voluptatem nostrum officia
      cupiditate. Pariatur voluptate consequuntur hic cumque ipsum quam
      perspiciatis nulla odit, ab exercitationem deleniti, illum veniam a soluta
      fuga est quibusdam numquam? Vel nostrum ipsam, ipsa consectetur rem
      maiores magni non? Aspernatur commodi rem ad consectetur ex quidem porro,
      harum, id repudiandae, neque minima? Sit laudantium beatae omnis tempore
      exercitationem id fugiat, in, nihil aspernatur aliquam quo explicabo, ut
      odio corrupti? Delectus, minima officia. Sunt quia quam natus accusantium
      quo nihil ut id, officia dolor temporibus deserunt consectetur recusandae
      voluptatibus quaerat numquam possimus suscipit in illo. Quaerat minima
      voluptates dignissimos dolorem? Atque, quia odit. Dolores at distinctio
      provident veritatis omnis deleniti ipsum esse quas eius velit, ad
      consectetur sapiente cupiditate debitis ipsa et. Minus, amet
      necessitatibus voluptate ducimus officia ipsum illum. Praesentium impedit
      totam voluptatibus delectus, placeat deleniti dolorum omnis amet aliquid
      sint explicabo, eius laborum dolorem atque exercitationem ad officia,
      suscipit accusantium. Incidunt in optio veniam, assumenda modi voluptas
      repellat? Maiores laudantium aliquid quam inventore placeat, ipsum vitae,
      consequuntur ipsam numquam ipsa officiis. Fugit minus quo unde
      repellendus? Dicta quasi aperiam doloremque blanditiis? Quia inventore
      molestias, sed vero a saepe. Pariatur quidem optio corporis nam quod
      aliquam consequatur quia, eos alias. Sint sit, mollitia aperiam ipsum
      nihil perspiciatis ratione expedita quisquam excepturi aliquid sunt natus
      labore asperiores sed optio unde. Ut error explicabo eius sit corrupti
      alias, non voluptas recusandae a tempore temporibus, itaque sequi repellat
      unde asperiores facilis voluptate pariatur amet dolorem. Corrupti
      laboriosam aliquam eos delectus commodi amet. Totam nemo ipsum quasi sed
      beatae perferendis voluptatem distinctio atque natus labore aspernatur,
      exercitationem quis expedita accusamus dolorem consequuntur praesentium
      cupiditate autem laudantium dignissimos ea esse! Enim, reiciendis
      accusantium? Voluptatibus. A repellendus necessitatibus reprehenderit
      similique! Perspiciatis enim, velit, porro ad aut explicabo fugiat
      sapiente dignissimos eligendi optio veniam aspernatur placeat, animi ab
      molestiae sed. Deserunt dignissimos est odio magni cupiditate. Accusamus
      quis totam velit quia nemo odio fuga numquam dolores exercitationem nisi.
      Sapiente illo obcaecati reprehenderit est perspiciatis expedita tempore.
      Hic illo dolor perspiciatis error atque, quaerat mollitia quibusdam eos.
      Quo magnam molestias numquam natus expedita laborum, qui quod ratione,
      quisquam quis sit. Exercitationem non numquam quod? Deserunt dolore
      laudantium vero libero ducimus doloribus soluta! Aliquam ipsam
      consequuntur modi aut? Itaque, dolore. Vero velit cum molestiae accusamus
      molestias quidem dignissimos aliquam hic consequatur repellat quia cumque
      suscipit facere, iste odit quasi sit consectetur voluptatem quas quos
      dolorum commodi? Nobis, nam! Magnam ratione eos id quibusdam, et impedit
      assumenda. Blanditiis ipsum debitis quas aperiam, quam qui laborum!
      Distinctio voluptatem nihil cum non incidunt quibusdam delectus? Minus
      praesentium fugit doloremque suscipit iste! Debitis omnis esse quisquam
      autem quibusdam ipsa nemo consequatur deleniti, provident libero nisi
      saepe aut laborum assumenda dicta commodi. Nam consequuntur temporibus,
      rem recusandae dolorum odit iure debitis soluta quae! Lorem ipsum, dolor
      sit amet consectetur adipisicing elit. Accusantium soluta rem in nemo
      dolorem quod recusandae eligendi cupiditate, quasi vel perspiciatis animi
      nesciunt adipisci blanditiis delectus laudantium, velit quam sapiente.
      Iure soluta atque dolore, accusantium quos maiores ut error obcaecati
      molestiae unde, culpa rerum optio, minima quae sed numquam? Enim sit rem
      maxime ea eveniet? Earum nam quo placeat quam? Nemo repellendus fuga
      aliquid itaque praesentium possimus dolorem incidunt, alias odit quis
      dolor natus odio, cum ad rem eaque dignissimos minima. Eos, ut. Doloribus
      iure odit aliquam voluptate, alias libero. Et laboriosam praesentium
      excepturi laudantium voluptas! Quibusdam nesciunt iusto vel provident
      adipisci accusamus commodi reprehenderit maxime aut iste accusantium
      officiis, corrupti quam! At sequi laboriosam non voluptatibus similique
      ducimus a? Recusandae laborum deleniti numquam, quo eum magni ratione quam
      veritatis non libero, odit minima, itaque perferendis dolorum quisquam
      nisi distinctio assumenda dolore atque doloribus tempora iure. Eveniet
      voluptates rem veritatis. Fugit veritatis, id fuga ex hic, similique natus
      eum quia officiis blanditiis asperiores repellendus aspernatur tempora
      commodi? Explicabo excepturi veniam at laboriosam sint culpa et facilis,
      fugiat pariatur, sapiente impedit. Sapiente ratione assumenda praesentium
      veritatis sequi voluptatum fugiat dolorem aliquam reiciendis eos eius
      ipsam magnam exercitationem neque, animi dolores at odit provident modi?
      Distinctio at tempore, asperiores modi voluptates dolores. Dolores
      eligendi blanditiis expedita facere voluptate facilis qui molestias
      suscipit commodi atque obcaecati, ut rerum fuga! Ex quibusdam impedit
      aperiam architecto consectetur, odit repellendus dolores at rerum officiis
      vel rem. Quas, natus unde. Animi et architecto consequatur, dolorem
      placeat ab eius dolorum omnis a. Repellat quae porro facere, cupiditate
      perspiciatis laborum sint quod, quas rem sapiente fuga eligendi ipsa
      aliquam. Ad recusandae quos, illo nostrum provident architecto similique
      quidem et ut. Velit, neque quisquam. Maiores excepturi corrupti quia
      architecto, quo molestiae laboriosam iusto. Excepturi minus quod, aliquam
      voluptate cum ipsum. Impedit, quod expedita! Dignissimos a ipsa dolores
      nobis possimus dicta libero praesentium, aut et eius odio reprehenderit
      adipisci rerum quos eum animi molestiae. Iusto, consequatur! Sit amet eius
      repudiandae rem? Vero quasi nisi sequi aperiam non harum nam repellendus
      culpa quisquam maiores fugiat possimus odit, enim unde assumenda nostrum
      laboriosam atque! Sequi, repellat labore id provident saepe quibusdam
      accusamus cumque? Laborum, hic enim. Dicta, numquam, assumenda voluptas
      tempore, aspernatur magni recusandae dolorem perferendis porro amet iusto
      aliquid voluptatem iure sunt! Cumque assumenda amet accusamus
      exercitationem sint harum odio, dolor ipsa! Quo quaerat consequuntur modi
      cupiditate, quis, nostrum, minus repellat numquam necessitatibus provident
      velit illo voluptatibus expedita! Ullam sequi aspernatur debitis autem
      porro, natus, quasi eius, atque dignissimos nihil dolor quo. Doloribus
      unde neque eligendi, architecto, consectetur et vitae numquam aliquam
      alias optio asperiores exercitationem explicabo facere placeat eum in
      pariatur iste, quisquam blanditiis possimus! Suscipit veniam placeat
      consequatur vel cumque? Doloremque facilis distinctio voluptatem maiores,
      quod aliquam amet ratione repellendus illo maxime! Nihil dolor natus
      mollitia quae accusamus, nostrum, alias aspernatur doloremque aliquid
      perspiciatis minus impedit. Facere officia eligendi dolor. Impedit
      voluptas quaerat ipsa, alias quibusdam quisquam animi ut non culpa nulla
      dolores similique maiores ullam sapiente ab. Error inventore deserunt modi
      mollitia ipsum. Eligendi quidem non similique quisquam laborum? Temporibus
      ipsum nostrum atque voluptas animi modi fugit perspiciatis molestias sequi
      rem? Deserunt enim totam perferendis debitis quibusdam nihil inventore
      corrupti possimus doloribus, labore nostrum aliquam deleniti! Repudiandae,
      voluptate necessitatibus. Eveniet, voluptas iure ipsam quisquam autem
      exercitationem voluptate voluptatum consequuntur quibusdam similique, quod
      inventore repudiandae tenetur consequatur, ea voluptatem aliquam rerum
      modi repellat ipsum sapiente. Labore quibusdam sint placeat! Animi.
      Suscipit corporis laboriosam tempore sequi iure recusandae amet facere id
      porro veritatis maiores iste architecto harum voluptas, voluptatem
      adipisci nobis nemo, dolorem obcaecati excepturi quidem aliquid, libero
      cum? Amet, optio?
    </p>
  </div>