<% layout("./layouts/boilerplate") %>

  <h1>Default Parameters</h1>
  <p>
    We can set a default parameter for our functions, just in case the user
    does not select any option.
  </p>
  <ol>
    <li>
      Here we see no default, which will return undefined every time we don't
      pass in a value.
    </li>
    <li>Then we use an if loop for the default value.</li>
    <li>And finally we use the default param syntax, no loops.</li>
  </ol>
  <img src="defaultParamCode.png" alt="" />
  <img src="defaultParamConsole.png" alt="" />
  <p>Another example:</p>
  <img src="anotherDefaultParamCode.png" alt="" />
  <img src="anotherDefaultParaamConsole.png" alt="" />
  <script src="defaultParams.js"></script>