<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />

  <!-- <nav class="navbar navbar-light bg-light">
      <a href="sasa" class="navbar-brand">Nav Bar</a>
    </nav> -->
  <h1 class="display-1 text-center">Our website with a nav bar!</h1>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
    <a href="sasa" class="navbar-brand">Nav Bar</a>
    <button class="navbar-toggler" data-target="#expandme" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="expandme">
      <div class="navbar-nav">
        <a href="dsdsd" class="nav-item nav-link">Home</a>
        <a href="dsdsd" class="nav-item nav-link">About</a>
        <a href="dsdsd" class="nav-item nav-link">Help</a>
      </div>
      <form action="dsdsd" class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
  <div class="container mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
    tempora vel ad esse aliquid culpa ipsam nam ratione debitis aperiam sequi
    delectus quas quaerat neque, rerum nisi optio nihil voluptate. Fuga
    voluptate voluptatem, veniam incidunt illo culpa, quos dolorum eum
    mollitia doloremque nihil enim autem reiciendis, nam repellat quisquam
    inventore quaerat? Velit natus, repellendus totam ullam dolores
    praesentium magni adipisci! Harum similique animi placeat veritatis totam,
    natus voluptas saepe numquam ipsam, suscipit, asperiores voluptates?
    Obcaecati ex fuga maiores consequuntur possimus ullam libero, quas
    quibusdam nulla enim magnam quasi accusamus similique. Odio nam, deleniti
    consequuntur obcaecati reiciendis fugit, pariatur qui libero similique ad
    sit expedita laborum nisi aspernatur nesciunt. Nihil nulla itaque
    aspernatur ipsam maiores cupiditate repudiandae odio reprehenderit
    voluptates natus! Velit tempore sit temporibus fugiat eaque nobis suscipit
    similique vero maiores dolores, odit, sint veniam. Dicta neque ad,
    laudantium veniam eaque quidem aut molestiae. Veniam nesciunt doloribus
    optio quam iste? Officiis beatae aliquid soluta non suscipit, eius
    excepturi porro maiores ducimus vero eum eveniet minima officia magnam?
    Accusamus delectus voluptatum eos, suscipit eaque repellat! Nisi vero
    laudantium quam veniam. Molestias. Earum hic perspiciatis sit voluptatum.
    Possimus sint dolorum voluptates, assumenda veniam excepturi corporis,
    doloribus repudiandae dicta similique earum. Maiores illum maxime
    asperiores ipsam esse beatae itaque quia reiciendis sequi nam? Voluptas
    modi dolore eum vero aut voluptatum facere voluptates mollitia delectus ab
    quia tempore aliquid assumenda quas numquam nihil, culpa doloremque magni
    laborum esse reiciendis fugit sequi excepturi! Quae, tenetur. Corporis in
    sunt provident, quaerat, ullam itaque ea unde labore animi vel quasi
    inventore eos illo modi quod est nobis maxime laudantium minus! Libero,
    quis. Porro repellat placeat odit consequatur. Ipsam deserunt perspiciatis
    amet! Facilis ad mollitia hic accusamus dolorum recusandae expedita,
    ducimus saepe libero rerum tempore in aut quia alias dolorem magnam
    eligendi assumenda voluptas! Dolor possimus explicabo adipisci! Nemo iusto
    explicabo, est enim amet magni sint voluptatem nostrum, perspiciatis iure
    dicta incidunt reiciendis. Dolorem molestias reiciendis unde quidem
    repellendus totam, corrupti sed dicta, sapiente, porro sequi eaque
    deserunt. Laborum eum voluptatibus sit sint itaque, impedit deserunt
    adipisci odit consequatur similique vitae quas reiciendis, nobis illo,
    repellat officiis nostrum doloribus? Adipisci alias exercitationem
    incidunt cum explicabo harum, quibusdam voluptas. Id totam necessitatibus
    laborum cupiditate esse, minima nobis dignissimos ipsa quos, aperiam
    officia culpa doloribus deserunt, architecto neque laudantium explicabo.
    Dignissimos eveniet temporibus impedit modi deserunt quidem ipsum
    distinctio quam. Dolores, deleniti officia sequi itaque nam, adipisci
    dolorum perferendis et blanditiis qui debitis inventore minima ducimus.
    Minus, neque nisi. Repudiandae porro, ullam cumque recusandae voluptates
    esse iusto illo delectus! Qui! Error impedit modi consequatur repellendus
    fugiat, facere cumque explicabo ad ratione officiis commodi aut est iure
    laborum et similique recusandae atque odit. Maiores dolorem nemo
    laudantium dolor officiis quos accusantium. Quos eligendi assumenda,
    expedita, vel distinctio sequi explicabo laborum dolorum mollitia itaque
    minima. Eius dolorum odio tempore, soluta error magni animi aut in omnis
    reprehenderit dolores sint officia numquam maiores. Optio ab eveniet
    perferendis, rem ex sunt error porro quaerat nemo tenetur quas
    perspiciatis, consectetur ratione atque asperiores sit ipsam, hic
    architecto animi? Omnis expedita eveniet sint similique sapiente
    assumenda! Quod deserunt laudantium architecto quos ratione corporis
    nostrum! Laborum necessitatibus maxime libero inventore consequatur
    aperiam placeat nulla tempore reprehenderit, voluptatem ipsam veritatis
    ad, possimus numquam dolorum. Vitae illum est possimus? Numquam quas, nisi
    quaerat vitae exercitationem vero recusandae, laboriosam impedit veniam
    consequatur autem quam suscipit sed iusto! Repellat natus, esse ipsa
    aspernatur ullam quasi dolor suscipit voluptatem, ipsum aut voluptate!
    Minima deserunt sit quam. Eum odio nostrum blanditiis fugit temporibus
    enim, non nulla fugiat sunt? Cupiditate est inventore voluptates alias at
    quod, laudantium, cum nam neque ex deserunt atque placeat. Voluptatum
    totam sit ipsam quibusdam quo? Cum quidem sit doloribus, voluptatem
    voluptatum repudiandae aliquid, quia dolorem voluptas esse iure minus sunt
    perferendis obcaecati deleniti incidunt consequuntur? Eveniet nisi porro
    doloribus. Delectus ab vitae, accusamus amet, rem consequatur adipisci a
    consequuntur cumque illum veniam aliquam dolorem accusantium ad magni,
    repellat unde. Ab mollitia qui dolorum ut similique inventore quidem
    doloremque consequuntur. Porro cum, animi non eius, necessitatibus illo
    sapiente nam quis sint at soluta repellendus reiciendis illum omnis,
    voluptatibus doloremque dolorem! Dolorem omnis reiciendis dicta iure
    voluptatibus eligendi, unde nostrum! Sed! Quas sunt eius nostrum, aut
    laudantium totam culpa voluptatum eaque odio iusto architecto repellat
    blanditiis? Qui quaerat molestias veritatis doloribus, molestiae provident
    repellendus, commodi dolores voluptatibus nulla voluptate adipisci amet?
    Nostrum, soluta ratione. Aliquid eum officia eos fugiat quibusdam debitis
    labore eius molestiae facilis. Exercitationem quasi necessitatibus earum
    temporibus fugit, libero nobis fugiat ipsam esse reprehenderit vero
    inventore autem nihil. Alias voluptates adipisci, commodi molestiae saepe
    officiis, nobis velit earum quod ullam excepturi fuga optio nam
    exercitationem cum dolorum, aliquid inventore quos suscipit? Distinctio
    dignissimos id, itaque tenetur quidem quod. Eaque maxime est soluta, atque
    earum enim reprehenderit molestias quod voluptas voluptate perspiciatis
    delectus consequuntur, repellat cum provident velit cupiditate? Dolores
    quaerat praesentium illum autem dolorem voluptatum? Dignissimos,
    voluptatem modi. Optio quo libero reiciendis quos iste. Sunt recusandae
    unde cumque. Fuga rerum consequatur esse iste odit, debitis dignissimos
    quo assumenda alias magnam nobis laboriosam, amet cum cupiditate enim
    nulla doloribus. Odio suscipit nesciunt amet quibusdam dolorem praesentium
    nisi doloremque ratione. Quis, iure nulla ducimus aspernatur incidunt, quo
    quam eos, pariatur magnam sed eligendi beatae. Hic natus doloribus
    voluptatem iusto autem? Velit sint labore temporibus sunt, earum, esse,
    quae necessitatibus voluptatibus cumque quam distinctio vel tempora
    reiciendis similique molestias consequatur. Explicabo ullam error amet
    quibusdam nostrum? Voluptatum placeat corrupti recusandae voluptates!
    Repellat, dolor nisi laboriosam provident temporibus rem. Eos incidunt
    cumque cupiditate facere quibusdam earum sed consequatur dolorem
    recusandae assumenda rerum quod, magni alias in porro? Qui ipsa reiciendis
    consequuntur fuga. Harum nulla voluptas perferendis ipsum error? Dolorem
    nemo iure unde quasi repellat consequatur suscipit cumque, maxime, laborum
    impedit dolore reprehenderit aut pariatur, nostrum doloribus autem ipsam
    similique tempore hic eius. Fugiat fuga facere et autem veniam doloremque
    soluta laboriosam ad impedit. Recusandae mollitia fugit voluptate
    exercitationem laborum hic obcaecati necessitatibus, itaque ipsam dicta
    vel similique voluptatibus nesciunt maxime sint. Earum. Dolorum, corporis!
    Ab, nesciunt. Magnam reprehenderit inventore laboriosam sequi aliquam
    possimus, sapiente rerum deserunt, consequuntur officiis odio ex tenetur
    nesciunt illo architecto animi harum molestias explicabo quam eum magni
    eius. Nobis labore dolorem ipsum, explicabo facilis tenetur fugiat dolorum
    veritatis facere cupiditate aliquid quis illo magnam, sint fuga
    perferendis excepturi rem voluptatibus hic velit maxime iusto sequi ea
    rerum! Unde. Velit laborum alias quibusdam deleniti animi rerum ipsa
    laboriosam est. Vitae aspernatur in officia expedita asperiores cumque
    laudantium repudiandae nam. Distinctio expedita laudantium illum modi qui
    adipisci eum quae veritatis. Est tenetur quasi suscipit nobis, laborum
    voluptatum magni officiis dicta expedita autem, dolore fugit ad id nam
    minus? Mollitia quia iste voluptatibus impedit dolores vel delectus.
    Voluptate impedit voluptatibus adipisci. Ratione tempora cupiditate fugiat
    iste beatae temporibus fugit aliquam aspernatur! Nostrum, distinctio
    perspiciatis. Unde magni eligendi itaque nam dicta exercitationem, illum
    cupiditate quaerat est, voluptate reprehenderit culpa asperiores, harum
    quas! Dignissimos ducimus molestiae doloribus laboriosam recusandae
    consequuntur dolores aliquid reiciendis alias laborum. Iure at inventore
    ipsa, error quae sapiente incidunt assumenda placeat eligendi vel nobis?
    Libero ad voluptatibus repudiandae quasi. Incidunt officiis consectetur
    quo recusandae qui ipsum corrupti amet eos esse praesentium, ut temporibus
    maxime dolore inventore aut! Ut, sapiente. Ab ullam perferendis eveniet,
    dolor esse nesciunt nam voluptates hic. Voluptatum aspernatur distinctio
    mollitia optio aut ducimus eligendi reiciendis maxime, quisquam nisi
    dignissimos? Minima recusandae optio repellendus in veniam deserunt rerum
    laborum eos nisi earum, harum sed voluptatibus dignissimos aperiam.
    Temporibus rem modi corrupti molestiae a illum explicabo consequatur
    nostrum sapiente repellat, odit eaque sint in dolor esse, officia
    excepturi, laboriosam saepe aperiam vero eum labore? Perferendis doloribus
    voluptatibus ducimus. Rerum nobis libero provident cum blanditiis,
    distinctio sapiente porro harum quos amet. Ullam quisquam non
    reprehenderit facilis. Sit esse nihil voluptates dolor distinctio, soluta
    excepturi illo rem blanditiis. Sapiente, dicta. Quibusdam neque dolores
    pariatur sapiente ex deleniti libero aut ea aliquid beatae. Debitis
    molestias dignissimos voluptas ab repellat ad, reprehenderit consequatur
    et soluta. Dolores laborum dolor adipisci consectetur, atque distinctio.
    In nisi, eveniet aspernatur molestiae voluptate corporis atque quaerat
    neque nulla quod asperiores quae inventore veniam cupiditate fugit vitae
    quas. Eum illo impedit facilis at quibusdam praesentium aut hic minima?
    Perferendis earum aspernatur porro iure tenetur odit. Quas animi officia
    laboriosam ipsam quisquam explicabo autem dolore architecto dolorum
    minima. Placeat modi deserunt vel quisquam? Quaerat culpa inventore harum
    laborum eveniet. Impedit autem quia fugiat? Molestias amet tempore
    veritatis numquam ex vitae ratione deleniti nemo, quos fugit corrupti
    animi labore fuga distinctio officia praesentium accusamus id ipsam
    consequatur ipsa optio sequi? A neque doloremque repellendus enim quasi
    assumenda est consequuntur explicabo nisi alias tempora recusandae quam
    repudiandae ex nihil nostrum sed vitae veniam, dolorem reiciendis aliquid
    id voluptatem odio eius? Deleniti? Animi maxime asperiores nisi, sapiente
    maiores tempora dicta ratione ab corrupti commodi aut beatae aperiam
    distinctio, molestiae eos, iure optio eaque ea? Atque accusantium quo
    expedita recusandae, provident architecto officiis. Animi iure suscipit
    consequatur, laboriosam aspernatur, temporibus esse molestiae aperiam
    eligendi labore cupiditate magnam? Ut ad cumque in odio quaerat excepturi
    provident, nihil laudantium aut assumenda qui vitae magnam sunt!
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>