<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="widthAndHeight.css" />

  <h1>Width and Height</h1>
  <p id="p">
    Everything is composed of boxes, each has the content box, where all the
    text or content goes. Then goes the padding, which surrounds the content
    box. And lastly we have the border, which does the same but for the
    padding.
  </p>

  <h2>Width and Height</h2>
  <p id="p">
    Here is a paragraph. All paragraphs in this document have a light colored
    background. We have changed its width to 200 px, see how the background
    color shows us how it has changed from the other regular paragraphs.
  </p>
  <p id="p">The blue color shows how much space the box takes.</p>
  <p id="p">
    The height has also been changed to 200px. It looks a little bigger than
    needed because the content normally occupies less than the dimensions we
    set.
  </p>

  <div>
    <p id="theDiv">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      officiis doloremque alias unde sit beatae eaque iusto culpa veniam hic
      quia, amet quod laborum nisi assumenda blanditiis error explicabo
      fugiat.
    </p>
  </div>
  <p id="p">
    The header has a different background color, it stretches to the end of
    the page because we have not altered any of its dimensions.
  </p>
  <p id="p">
    The h2 on the other hand, was changed to a width of 300px. It looks much
    smaller than the h1.
  </p>