<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="photographyTest.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">

  <h1>Photography Demo</h1>
  <nav class="nav">VisualX</nav>
  <div id="allPics">
    <img class="img" src="./photography1.jpg" /></img>
    <img class="img" src="./photography2.jpg" /></img>
    <img class="img" src="./photography3.jpg" /></img>
    <img class="img" src="./photography4.jpg" /></img>
    <img class="img" src="./photography5.jpg" /></img>
    <img class="img" src="./photography6.jpg" /></img>
    <img class="img" src="./photography7.jpg" /></img>
    <img class="img" src="./photography8.jpg" /></img>
    <img class="img" src="./photography9.jpg" /></img>
  </div>
  <!-- Whitespace affects our images, we need the closing img tag to be on the same line as where it opens to make sure it works like we want. -->