<% layout("./layouts/boilerplate") %>
  <h2>A list</h2>
  <ul>
    <li>hey</li>
    <li>Vsauce</li>
    <li>Michael</li>
    <li>here</li>
    <li>!</li>
  </ul>
  <ol>
    <li>First</li>
    <li>Second</li>
  </ol>

  <h2>A nested list</h2>
  <ul>
    <li>unorderedx1</li>
    <ol>
      <li>something</li>
      <li>about</li>
      <li>us</li>
    </ol>
    <li>unorderedx2</li>
    <li>unorderedx3</li>
  </ul>

  <h2>Another nested list</h2>
  <ol>
    <li>One</li>
    <ul>
      <li>Not ordered</li>
      <li>Not even a little bit</li>
      <li>Hi</li>
    </ul>
    <li>Two</li>
    <li>Three</li>
  </ol>