<% layout("./layouts/boilerplate") %>

  <h1>TV Show Search with Axios</h1>

  <h2>TV Show Search</h2>
  <div id="buttonDiv">
    <form action="fdfdfdfd">
      <input type="text" placeholder="Show" name="userSearch" />
      <button class="btn btn-outline-primary">Search</button>
    </form>
  </div>
  <div id="beforeFooter" class="row m-0">
    <div class="column"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="tvShowSearchAPIaxios.js"></script>