<% layout("./layouts/boilerplate") %>
  <h1>Destructuring Parameters</h1>
  <p>We can destructure parameters from an object in various ways:</p>
  <img src="destructuringParametersCode.png" alt="" />
  <img src="destructuringParametersConsole.png" alt="" />
  <p>
    We can do the same with an array of objects, either with a function, or by
    destructuring.
  </p>
  <img src="destructuringArrayOfObjectsCode.png" alt="" />
  <img src="destructuringArraysOfObjectsCode.png" alt="" />
  <img src="destructuringArraysOfObjectsConsole.png" alt="" />
  <p>Another method example.</p>
  <img src="anotherMethodDestructuringCode.png" alt="" />
  <img src="anotherMethodDestructuringConsole.png" alt="" />
  <script src="destructuringParameters.js"></script>