<% layout("./layouts/boilerplate") %>

  <h1>Comments are very helpful!</h1>
  <p>
    There are many comments in this website, but none of them are visible to
    the users of course.
  </p>
  <p>The shortcut to add an HTML comment is Ctrl + K + C</p>
  <p>Think of Kansas City if you can't remember it.</p>
  <!-- This is a comment. -->
  <!-- This is another comment. -->
  <!-- Yet another! -->