<% layout("./layouts/boilerplate") %>

  <h1>Here we have a few examples of images.</h1>

  <h2>A picture of Frank Ocean with ASAP Rocky!</h2>
  <img src="./frankAndAsap.jpeg" alt="Picture of Frank Ocean showing the peace sign next to ASAP Rocky" />
  <p>
    This picture was downloaded from the internet and saved locally. It is in
    the same folder where this website is, so it can easily be referenced with
    the ./ option.
  </p>
  <p>
    It has an alt text saying "alt="Picture of Frank Ocean showing the peace
    sign next to ASAP Rocky".
  </p>
  <p>
    The alt attribute is an alternate text that can be seen if for example:
  </p>
  <ul>
    <li>The image has not loaded yet.</li>
    <li>
      The image is no longer in the original location, (The file location used
      to reference it originally)
    </li>
    <li>
      If it is a linked image from the web that has been deleted or otherwise
      changed. (The image below is linked from the web)
    </li>
  </ul>

  <h2>A picture of Travis Scott!</h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Travis_Scott_-_Openair_Frauenfeld_2019_08.jpg/220px-Travis_Scott_-_Openair_Frauenfeld_2019_08.jpg"
    alt="Travis Scott with a microphone in hand." />

  <p>This picture was referenced from Travis Scott's Wikipedia page.</p>
  <p>
    To do this, we have to copy the image address by right clicking on the
    image first, than pasting it on the href element
  </p>
  <p>
    It works a lot like the anchor element, but with pictures instead of a
    text link.
  </p>
  <p>
    This other one has an Salt text saying: alt="Travis Scott with a
    microphone in hand."
  </p>

  <!--The <img src="">  is the element used to embed images(insert)-->
  <!--The <img> element self closes!-->