<!-- Footer -->
<footer class="bg-dark text-center text-white">


    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Text -->
        <section class="mb-4">

            <p id="quote"> </p>

        </section>
        <!-- Section: Text -->

        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fa-brands fa-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/templating" class="text-primary">○ 1. Templating</a>
                        </li>
                        <li>
                            <a href="/handlingExpressErrors" class="text-primary">○ 2. Handling Express Errors</a>
                        </li>
                        <li>
                            <a href="/queryStrings" class="text-primary">○ 3. Query Strings</a>
                        </li>
                        <li>
                            <a href="/selectingDOM" class="text-primary">○ 4. Selecting DOM</a>
                        </li>
                        <li>
                            <a href="/spread" class="text-primary">○ 5. Spread</a>
                        </li>
                        <li>
                            <a href="/addEventListener" class="text-primary">○ 6. Add Event Listener</a>
                        </li>
                        <li>
                            <a href="/truthyFalsy" class="text-primary">○ 7. Truthy & Falsy</a>
                        </li>
                        <li>
                            <a href="/booleans" class="text-primary">○ 8. Booleans</a>
                        </li>
                        <li>
                            <a href="/mathObject" class="text-primary">○ 9. Math Object</a>
                        </li>
                        <li>
                            <a href="/numbers" class="text-primary">○ 10. Numbers</a>
                        </li>
                        <li>
                            <a href="/mongoRelationships" class="text-primary">○ 11. Mongo Relationships</a>
                        </li>
                        <li>
                            <a href="/changeAndInputEvents" class="text-primary">○ 12. Change & Input Events</a>
                        </li>
                        <li>
                            <a href="/addingElements" class="text-primary">○ 13. Adding Elements</a>
                        </li>
                        <li>
                            <a href="/mongooseSchemaValidations" class="text-primary">○ 14. Mongoose Schema
                                Validations</a>
                        </li>
                        <li>
                            <a href="/tryCatch" class="text-primary">○ 15. Try & Catch</a>
                        </li>
                        <li>
                            <a href="/scope" class="text-primary">○ 16. Scope</a>
                        </li>
                        <li>
                            <a href="/reduceMethod" class="text-primary">○ 17. reduce Method</a>
                        </li>
                        <li>
                            <a href="/destructuringParameters" class="text-primary">○ 18. Destructuring Parameters</a>
                        </li>
                        <li>
                            <a href="/arraysDataStructures" class="text-primary">○ 19. Arrays</a>
                        </li>
                        <li>
                            <a href="/jsFromFile" class="text-primary">○ 20. JavaScript Files</a>
                        </li>
                        <li>
                            <a href="/querySelector" class="text-primary">○ 21. Query Selector</a>
                        </li>
                        <li>
                            <a href="/docWithPicsAndMorePractice" class="text-primary">○ 22. Doc With Pics & More
                                Practice</a>
                        </li>
                        <li>
                            <a href="/multipleFunctionArguments" class="text-primary">○ 23. Functions with Multiple
                                Arguments</a>
                        </li>
                        <li>
                            <a href="/nestedArrays" class="text-primary">○ 24. Nested Arrays</a>
                        </li>
                        <li>
                            <a href="/nestedLoops" class="text-primary">○ 25. Nested Loops</a>
                        </li>
                        <li>
                            <a href="/hrBrSupAndSubElements" class="text-primary">○ 26. hr, br, sup & sub Elements</a>
                        </li>
                        <li>
                            <a href="/name" class="text-primary">○ 27. name</a>
                        </li>
                        <li>
                            <a href="/buttons" class="text-primary">○ 28. Buttons</a>
                        </li>
                        <li>
                            <a href="/inputs" class="text-primary">○ 29. Inputs</a>
                        </li>
                        <li>
                            <a href="/labels" class="text-primary">○ 30. Labels</a>
                        </li>
                        <li>
                            <a href="/tables" class="text-primary">○ 31. Tables</a>
                        </li>
                        <li>
                            <a href="/semanticMarkup" class="text-primary">○ 32. Semantic Markup</a>
                        </li>
                        <li>
                            <a href="/emmet" class="text-primary">○ 33. Emmet</a>
                        </li>
                        <li>
                            <a href="/theTerminal" class="text-primary">○ 34. The Terminal</a>
                        </li>
                        <li>
                            <a href="/someAndEveryMethod" class="text-primary">○ 35. some & every Methods</a>
                        </li>
                        <li>
                            <a href="/keyboardEventsAndEventObjects" class="text-primary">○ 36. Keyboard Events & Event
                                Objects</a>
                        </li>
                        <li>
                            <a href="/defaultParams" class="text-primary">○ 37. Default Parameters</a>
                        </li>
                        <li>
                            <a href="/domSelecting" class="text-primary">○ 38. DOM Selecting</a>
                        </li>
                        <li>
                            <a href="/eventDelegation" class="text-primary">○ 39. Event Delegation</a>
                        </li>
                        <li>
                            <a href="/removingElements" class="text-primary">○ 40. Removing Elements</a>
                        </li>
                        <li>
                            <a href="/theCallStack" class="text-primary">○ 41. The Call Stack</a>
                        </li>
                        <li>
                            <a href="/expressRouter" class="text-primary">○ 42. Express Router</a>
                        </li>
                        <li>
                            <a href="/callbackHell" class="text-primary">○ 43. Callback Hell</a>
                        </li>
                        <li>
                            <a href="/alignContentAlignSelf" class="text-primary">○ 44. align-content & align-self</a>
                        </li>
                        <li>
                            <a href="/flexBasisGrowShrink" class="text-primary">○ 45. FLEX: basis, grow & shrink</a>
                        </li>
                        <li>
                            <a href="/emsAndRems" class="text-primary">○ 46. ems & rems</a>
                        </li>
                        <li>
                            <a href="/divsBootsttrap" class="text-primary">○ 47. divs in Bootstrap</a>
                        </li>
                        <li>
                            <a href="/buttonWeMade" class="text-primary">○ 48. Button Example</a>
                        </li>
                        <li>
                            <a href="/bootstrap" class="text-primary">○ 49. Bootstrap</a>
                        </li>
                        <li>
                            <a href="/background" class="text-primary">○ 50. Background</a>
                        </li>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/expressMiddleware" class="text-primary">○ 1. Express Middleware</a>
                        </li>
                        <li>
                            <a href="/express" class="text-primary">○ 2. Express</a>
                        </li>
                        <li>
                            <a href="/adjacentAndDirectChildSelectors" class="text-primary">○ 3. Adjacent & Direct Child
                                Selectors</a>
                        </li>
                        <li>
                            <a href="/else" class="text-primary">○ 4. Else</a>
                        </li>
                        <li>
                            <a href="/AJAX" class="text-primary">○ 5. AJAX</a>
                        </li>
                        <li>
                            <a href="/moduleExports" class="text-primary">○ 6. Module Exports</a>
                        </li>
                        <li>
                            <a href="/mongoose" class="text-primary">○ 7. Mongoose</a>
                        </li>
                        <li>
                            <a href="/stringMethods" class="text-primary">○ 8. String Methods</a>
                        </li>
                        <li>
                            <a href="/stringMethodsWithArguments" class="text-primary">○ 9. String Methods With
                                Arguments</a>
                        </li>
                        <li>
                            <a href="/strings" class="text-primary">○ 10. Strings</a>
                        </li>
                        <li>
                            <a href="/variables" class="text-primary">○ 11. Variables</a>
                        </li>
                        <li>
                            <a href="/namingVariables" class="text-primary">○ 12. Naming Variables</a>
                        </li>
                        <li>
                            <a href="/constAndVar" class="text-primary">○ 13. const & var</a>
                        </li>
                        <li>
                            <a href="/equalityOperators" class="text-primary">○ 14. Equality Operators</a>
                        </li>
                        <li>
                            <a href="/logicalNOT" class="text-primary">○ 15. Logical !NOT Operator</a>
                        </li>
                        <li>
                            <a href="/innerTexttextContentandinnerHtml" class="text-primary">○ 16. innerText,
                                textContent &
                                innerHtml</a>
                        </li>
                        <li>
                            <a href="/andMoreArrayMethods" class="text-primary">○ 17. & More Array Methods</a>
                        </li>
                        <li>
                            <a href="/functionExpressions" class="text-primary">○ 18. Function Expressions</a>
                        </li>
                        <li>
                            <a href="/higherOrderFunctions" class="text-primary">○ 19. Higher Order Functions</a>
                        </li>
                        <li>
                            <a href="/arrowFunctions" class="text-primary">○ 20. Arrow Functions</a>
                        </li>
                        <li>
                            <a href="/inlineAndExternalEvents" class="text-primary">○ 21. Inline & External Events</a>
                        </li>
                        <li>
                            <a href="/spreadArrayLiteralsAndObjects" class="text-primary">○ 22. spread Array Literals &
                                Objects</a>
                        </li>
                        <li>
                            <a href="/arrayMethods" class="text-primary">○ 23. Array Methods</a>
                        </li>
                        <li>
                            <a href="/mapMethod" class="text-primary">○ 24. map Method</a>
                        </li>
                        <li>
                            <a href="/comparisonOperators" class="text-primary">○ 25. Comparison Operators</a>
                        </li>
                        <li>
                            <a href="/arraysPartTwo" class="text-primary">○ 26. Arrays Pt.2</a>
                        </li>
                        <li>
                            <a href="/loopingOverArrays" class="text-primary">○ 27. Looping Over Arrays</a>
                        </li>
                        <li>
                            <a href="/infiniteLoops" class="text-primary">○ 28. Infinite Loops</a>
                        </li>
                        <li>
                            <a href="/nestingArraysAndObjects" class="text-primary">○ 29. Nesting Arrays & Objects</a>
                        </li>
                        <li>
                            <a href="/addingAndUpdatingObjects" class="text-primary">○ 30. Adding & Updating Objects</a>
                        </li>
                        <li>
                            <a href="/arrayReferencesAndEqualityTesting" class="text-primary">○ 31. Array References &
                                Equality Testing</a>
                        </li>
                        <li>
                            <a href="/links" class="text-primary">○ 32. Links</a>
                        </li>
                        <li>
                            <a href="/entities" class="text-primary">○ 33. Entities</a>
                        </li>
                        <li>
                            <a href="/comments" class="text-primary">○ 34. Comments</a>
                        </li>
                        <li>
                            <a href="/divAndSpanElements" class="text-primary">○ 35. div & span Elements</a>
                        </li>
                        <li>
                            <a href="/breakKeyword" class="text-primary">○ 36. break Keyword</a>
                        </li>
                        <li>
                            <a href="/forOfLoop" class="text-primary">○ 37. for of Loop</a>
                        </li>
                        <li>
                            <a href="/functionArguments" class="text-primary">○ 38. Function Arguments</a>
                        </li>
                        <li>
                            <a href="/returnKeyword" class="text-primary">○ 39. return Keyword</a>
                        </li>
                        <li>
                            <a href="/blockScope" class="text-primary">○ 40. Block Scope</a>
                        </li>
                        <li>
                            <a href="/setTimeout&setInterval" class="text-primary">○ 41. setTimeout & setInterval</a>
                        </li>
                        <li>
                            <a href="/lexicalScope" class="text-primary">○ 42. Lexical Scope</a>
                        </li>
                        <li>
                            <a href="/expressSessionsAndFlash" class="text-primary">○ 43. Express Sessions & Flash</a>
                        </li>
                        <li>
                            <a href="/alignItems" class="text-primary">○ 44. align-items</a>
                        </li>
                        <li>
                            <a href="/googleFonts" class="text-primary">○ 45. Google Fonts</a>
                        </li>
                        <li>
                            <a href="/flexWrapRows" class="text-primary">○ 46. flex-wrap Rows</a>
                        </li>
                        <li>
                            <a href="/flexWrapColumns" class="text-primary">○ 47. flex-wrap Columns</a>
                        </li>
                        <li>
                            <a href="/flexTest" class="text-primary">○ 48. Testing Flex</a>
                        </li>
                        <li>
                            <a href="/flexbox" class="text-primary">○ 49. FLEXBOX</a>
                        </li>
                        <li>
                            <a href="/iconsBootstrap" class="text-primary">○ 50. Icons Bootstrap</a>
                        </li>

                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">

                        <li>
                            <a href="/XHRrequests" class="text-primary">○ 1. XHR Requests</a>
                        </li>
                        <li>
                            <a href="/expressPathParameters" class="text-primary">○ 2. Express Path Parameters</a>
                        </li>
                        <li>
                            <a href="/changingStyles" class="text-primary">○ 3. Changing Styles</a>
                        </li>
                        <li>
                            <a href="/moreArrayMethods" class="text-primary">○ 4. More Array Methods</a>
                        </li>
                        <li>
                            <a href="/iteratingOverObjects" class="text-primary">○ 5. Iterating Over Objects</a>
                        </li>
                        <li>
                            <a href="/formEventsAndPreventDefault" class="text-primary">○ 6. Form Events &
                                preventDefault</a>
                        </li>
                        <li>
                            <a href="/forLoop" class="text-primary">○ 7. for Loop</a>
                        </li>
                        <li>
                            <a href="/stringTemplateLiterals" class="text-primary">○ 8. String Template Literals</a>
                        </li>
                        <li>
                            <a href="/undefinedAndNull" class="text-primary">○ 9. undefined & null</a>
                        </li>
                        <li>
                            <a href="/ifConditional" class="text-primary">○ 10. if Conditional</a>
                        </li>
                        <li>
                            <a href="/filterMethod" class="text-primary">○ 11. filter Method</a>
                        </li>
                        <li>
                            <a href="/destructuring" class="text-primary">○ 12. Destructuring</a>
                        </li>
                        <li>
                            <a href="/attributes" class="text-primary">○ 13. Attributes</a>
                        </li>
                        <li>
                            <a href="/rest" class="text-primary">○ 14. ...rest</a>
                        </li>
                        <li>
                            <a href="/thisKeywordEvents" class="text-primary">○ 15. this Keyword Events</a>
                        </li>
                        <li>
                            <a href="/objectLiterals" class="text-primary">○ 16. Object Literals</a>
                        </li>
                        <li>
                            <a href="/forEachMethod" class="text-primary">○ 17. forEach Method</a>
                        </li>
                        <li>
                            <a href="/alertsPrompts" class="text-primary">○ 18. Alerts & Prompts</a>
                        </li>
                        <li>
                            <a href="/theDOM" class="text-primary">○ 19. The DOM</a>
                        </li>
                        <li>
                            <a href="/ejsLayoutsTool" class="text-primary">○ 20. EJS Layouts Tool</a>
                        </li>
                        <li>
                            <a href="/thisKeywordInMethods" class="text-primary">○ 21. this Keyword In Methods</a>
                        </li>
                        <li>
                            <a href="/functions" class="text-primary">○ 22. Functions</a>
                        </li>
                        <li>
                            <a href="/parentChildSibling" class="text-primary">○ 23. Parent, Child & Sibling</a>
                        </li>
                        <li>
                            <a href="/eventBubbling" class="text-primary">○ 24. Event Bubbling</a>
                        </li>
                        <li>
                            <a href="/classList" class="text-primary">○ 25. classList</a>
                        </li>
                        <li>
                            <a href="/folderImportExport" class="text-primary">○ 26. Folder Import & Export</a>
                        </li>
                        <li>
                            <a href="/nodeJS" class="text-primary">○ 27. nodeJS</a>
                        </li>
                        <li>
                            <a href="/randomBackgroundColor" class="text-primary">○ 28. Random Background Color</a>
                        </li>
                        <li>
                            <a href="/definingMethods" class="text-primary">○ 29. Defining Methods</a>
                        </li>
                        <li>
                            <a href="/logicalOR" class="text-primary">○ 30. Logical Operator OR (||)</a>
                        </li>
                        <li>
                            <a href="/elseIfConditional" class="text-primary">○ 31. else if Conditional</a>
                        </li>
                        <li>
                            <a href="/logicalAND" class="text-primary">○ 32. Logical Operator AND (&&)</a>
                        </li>
                        <li>
                            <a href="/nestingConditions" class="text-primary">○ 33. Nesting Conditions</a>
                        </li>
                        <li>
                            <a href="/constUsedForArray" class="text-primary">○ 34. const Used With Arrays</a>
                        </li>
                        <li>
                            <a href="/switchStatement" class="text-primary">○ 35. switch Statement</a>
                        </li>
                        <li>
                            <a href="/getVsPostRequests" class="text-primary">○ 36. get VS post Requests</a>
                        </li>
                        <li>
                            <a href="/cookies" class="text-primary">○ 37. Cookies</a>
                        </li>
                        <li>
                            <a href="/rest" class="text-primary">○ 38. rest</a>
                        </li>
                        <li>
                            <a href="/promises" class="text-primary">○ 39. Promises</a>
                        </li>
                        <li>
                            <a href="/staticAssetsInExpress" class="text-primary">○ 40. Static Assets In Express</a>
                        </li>
                        <li>
                            <a href="/databases" class="text-primary">○ 41. Databases</a>
                        </li>
                        <li>
                            <a href="/authentication" class="text-primary">○ 42. Authentication</a>
                        </li>
                        <li>
                            <a href="/prototypes" class="text-primary">○ 43. Prototypes</a>
                        </li>
                        <li>
                            <a href="/mediaQueries" class="text-primary">○ 44. Media Queries</a>
                        </li>
                        <li>
                            <a href="/margin" class="text-primary">○ 45. Margin</a>
                        </li>
                        <li>
                            <a href="/inlineAndBlockElements" class="text-primary">○ 46. Inline & Block Elements</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 47. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 48. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 49. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 50. link</a>
                        </li>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/raceRegistration" class="text-primary">○ 1. Race Registration</a>
                        </li>
                        <li>
                            <a href="/formAction" class="text-primary">○ 2. Form Action</a>
                        </li>
                        <li>
                            <a href="/moreInputTypes" class="text-primary">○ 3. More Input Types</a>
                        </li>
                        <li>
                            <a href="/textarea" class="text-primary">○ 4. textarea</a>
                        </li>
                        <li>
                            <a href="/aFewOtherHtmlThings" class="text-primary">○ 5. A Few Other HTML Things</a>
                        </li>
                        <li>
                            <a href="/validations" class="text-primary">○ 6. Validations</a>
                        </li>
                        <li>
                            <a href="/descendantSelectors" class="text-primary">○ 7. Descendant Selectors</a>
                        </li>
                        <li>
                            <a href="/class" class="text-primary">○ 8. class</a>
                        </li>
                        <li>
                            <a href="/idSelector" class="text-primary">○ 9. id Selector</a>
                        </li>
                        <li>
                            <a href="/selectors" class="text-primary">○ 10. Selectors</a>
                        </li>
                        <li>
                            <a href="/fonts" class="text-primary">○ 21. Fonts</a>
                        </li>
                        <li>
                            <a href="/commonTextProperties" class="text-primary">○ 22. Common Text Properties</a>
                        </li>
                        <li>
                            <a href="/colors" class="text-primary">○ 23. Colors</a>
                        </li>
                        <li>
                            <a href="/cssIntro" class="text-primary">○ 24. CSS Intro</a>
                        </li>
                        <li>
                            <a href="/simpleTextExample" class="text-primary">○ 25. Simple Text Example</a>
                        </li>
                        <li>
                            <a href="/imagesTesting" class="text-primary">○ 26. Images Testing</a>
                        </li>
                        <li>
                            <a href="/padding" class="text-primary">○ 27. Padding</a>
                        </li>
                        <li>
                            <a href="/border" class="text-primary">○ 28. Border</a>
                        </li>
                        <li>
                            <a href="/lists" class="text-primary">○ 29. Lists</a>
                        </li>
                        <li>
                            <a href="/widthAndHeight" class="text-primary">○ 30. Width & Height</a>
                        </li>
                        <li>
                            <a href="/inheritance" class="text-primary">○ 31. Inheritance</a>
                        </li>
                        <li>
                            <a href="/specificity" class="text-primary">○ 32. Specificity</a>
                        </li>
                        <li>
                            <a href="/pseudoClasses" class="text-primary">○ 33. Pseudo-classes</a>
                        </li>
                        <li>
                            <a href="/theCascade" class="text-primary">○ 34. The Cascade</a>
                        </li>
                        <li>
                            <a href="/attributeSelector" class="text-primary">○ 35. Attribute Selector</a>
                        </li>
                        <li>
                            <a href="/museumOfCandy" class="text-primary">○ 36. Museum Of Candy</a>
                        </li>
                        <li>
                            <a href="/pokemon" class="text-primary">○ 37. Pokemon with API</a>
                        </li>
                        <li>
                            <a href="/arrayCheatSheet" class="text-primary">○ 38. Arrays CheatSheet</a>
                        </li>
                        <li>
                            <a href="/asyncKeyword" class="text-primary">○ 39. async Keyword</a>
                        </li>
                        <li>
                            <a href="/awaitKeyword" class="text-primary">○ 40. await Keyword</a>
                        </li>
                        <li>
                            <a href="/NPMnode" class="text-primary">○ 41. Node Package Manager</a>
                        </li>
                        <li>
                            <a href="/tvShowSearchAPIaxios" class="text-primary">○ 42. tvShow Search API Axios</a>
                        </li>
                        <li>
                            <a href="/webAPIsAndSingleThreaded" class="text-primary">○ 43. Web API's & Single
                                Threading</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 44. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 45. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 46. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 47. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 48. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 49. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 50. link</a>
                        </li>

                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="/home">noDomainYet.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->