<!-- Footer -->
<footer class="bg-dark text-center text-white">


    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Text -->
        <section class="mb-4">

            <p id="quote"> </p>

        </section>
        <!-- Section: Text -->

        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fa-brands fa-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/templating" class="text-primary">○ 1. Templating</a>
                        </li>
                        <li>
                            <a href="/handlingExpressErrors" class="text-primary">○ 2. Handling Express Errors</a>
                        </li>
                        <li>
                            <a href="/queryStrings" class="text-primary">○ 3. Query Strings</a>
                        </li>
                        <li>
                            <a href="/selectingDOM" class="text-primary">○ 4. Selecting DOM</a>
                        </li>
                        <li>
                            <a href="/spread" class="text-primary">○ 5. Spread</a>
                        </li>
                        <li>
                            <a href="/addEventListener" class="text-primary">○ 6. Add Event Listener</a>
                        </li>
                        <li>
                            <a href="/truthyFalsy" class="text-primary">○ 7. Truthy & Falsy</a>
                        </li>
                        <li>
                            <a href="/booleans" class="text-primary">○ 8. Booleans</a>
                        </li>
                        <li>
                            <a href="/mathObject" class="text-primary">○ 9. Math Object</a>
                        </li>
                        <li>
                            <a href="/numbers" class="text-primary">○ 10. Numbers</a>
                        </li>
                        <li>
                            <a href="/mongoRelationships" class="text-primary">○ 11. Mongo Relationships</a>
                        </li>
                        <li>
                            <a href="/changeAndInputEvents" class="text-primary">○ 12. Change & Input Events</a>
                        </li>
                        <li>
                            <a href="/addingElements" class="text-primary">○ 13. Adding Elements</a>
                        </li>
                        <li>
                            <a href="/mongooseSchemaValidations" class="text-primary">○ 14. Mongoose Schema
                                Validations</a>
                        </li>
                        <li>
                            <a href="/tryCatch" class="text-primary">○ 15. Try & Catch</a>
                        </li>
                        <li>
                            <a href="/scope" class="text-primary">○ 16. Scope</a>
                        </li>
                        <li>
                            <a href="/reduceMethod" class="text-primary">○ 17. reduce Method</a>
                        </li>
                        <li>
                            <a href="/destructuringParameters" class="text-primary">○ 18. Destructuring Parameters</a>
                        </li>
                        <li>
                            <a href="/arraysDataStructures" class="text-primary">○ 19. Arrays</a>
                        </li>
                        <li>
                            <a href="/jsFromFile" class="text-primary">○ 20. JavaScript Files</a>
                        </li>
                        <li>
                            <a href="/querySelector" class="text-primary">○ 21. Query Selector</a>
                        </li>
                        <li>
                            <a href="/docWithPicsAndMorePractice" class="text-primary">○ 22. Doc With Pics & More
                                Practice</a>
                        </li>
                        <li>
                            <a href="/multipleFunctionArguments" class="text-primary">○ 23. Functions with Multiple
                                Arguments</a>
                        </li>
                        <li>
                            <a href="/nestedArrays" class="text-primary">○ 24. Nested Arrays</a>
                        </li>
                        <li>
                            <a href="/nestedLoops" class="text-primary">○ 25. Nested Loops</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 26. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 27. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 28. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 29. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 30. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 31. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 32. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 33. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 34. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 35. link</a>
                        </li>

                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/expressMiddleware" class="text-primary">○ 1. Express Middleware</a>
                        </li>
                        <li>
                            <a href="/express" class="text-primary">○ 2. Express</a>
                        </li>
                        <li>
                            <a href="/adjacentAndDirectChildSelectors" class="text-primary">○ 3. Adjacent & Direct Child
                                Selectors</a>
                        </li>
                        <li>
                            <a href="/else" class="text-primary">○ 4. Else</a>
                        </li>
                        <li>
                            <a href="/AJAX" class="text-primary">○ 5. AJAX</a>
                        </li>
                        <li>
                            <a href="/moduleExports" class="text-primary">○ 6. Module Exports</a>
                        </li>
                        <li>
                            <a href="/mongoose" class="text-primary">○ 7. Mongoose</a>
                        </li>
                        <li>
                            <a href="/stringMethods" class="text-primary">○ 8. String Methods</a>
                        </li>
                        <li>
                            <a href="/stringMethodsWithArguments" class="text-primary">○ 9. String Methods With
                                Arguments</a>
                        </li>
                        <li>
                            <a href="/strings" class="text-primary">○ 10. Strings</a>
                        </li>
                        <li>
                            <a href="/variables" class="text-primary">○ 11. Variables</a>
                        </li>
                        <li>
                            <a href="/namingVariables" class="text-primary">○ 12. Naming Variables</a>
                        </li>
                        <li>
                            <a href="/constAndVar" class="text-primary">○ 13. const & var</a>
                        </li>
                        <li>
                            <a href="/equalityOperators" class="text-primary">○ 14. Equality Operators</a>
                        </li>
                        <li>
                            <a href="/logicalNOT" class="text-primary">○ 15. Logical !NOT Operator</a>
                        </li>
                        <li>
                            <a href="/innerTexttextContentandinnerHtml" class="text-primary">○ 16. innerText,
                                textContent &
                                innerHtml</a>
                        </li>
                        <li>
                            <a href="/andMoreArrayMethods" class="text-primary">○ 17. & More Array Methods</a>
                        </li>
                        <li>
                            <a href="/functionExpressions" class="text-primary">○ 18. Function Expressions</a>
                        </li>
                        <li>
                            <a href="/higherOrderFunctions" class="text-primary">○ 19. Higher Order Functions</a>
                        </li>
                        <li>
                            <a href="/arrowFunctions" class="text-primary">○ 20. Arrow Functions</a>
                        </li>
                        <li>
                            <a href="/inlineAndExternalEvents" class="text-primary">○ 21. Inline & External Events</a>
                        </li>
                        <li>
                            <a href="/spreadArrayLiteralsAndObjects" class="text-primary">○ 22. spread Array Literals &
                                Objects</a>
                        </li>
                        <li>
                            <a href="/arrayMethods" class="text-primary">○ 23. Array Methods</a>
                        </li>
                        <li>
                            <a href="/mapMethod" class="text-primary">○ 24. map Method</a>
                        </li>
                        <li>
                            <a href="/comparisonOperators" class="text-primary">○ 25. Comparison Operators</a>
                        </li>
                        <li>
                            <a href="/arraysPartTwo" class="text-primary">○ 26. Arrays Pt.2</a>
                        </li>
                        <li>
                            <a href="/loopingOverArrays" class="text-primary">○ 27. Looping Over Arrays</a>
                        </li>
                        <li>
                            <a href="/infiniteLoops" class="text-primary">○ 28. Infinite Loops</a>
                        </li>
                        <li>
                            <a href="/nestingArraysAndObjects" class="text-primary">○ 29. Nesting Arrays & Objects</a>
                        </li>
                        <li>
                            <a href="/addingAndUpdatingObjects" class="text-primary">○ 30. Adding & Updating Objects</a>
                        </li>
                        <li>
                            <a href="/arrayReferencesAndEqualityTesting" class="text-primary">○ 31. Array References &
                                Equality Testing</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 32. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 33. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 34. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 35. link</a>
                        </li>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">

                        <li>
                            <a href="/XHRrequests" class="text-primary">○ 1. XHR Requests</a>
                        </li>
                        <li>
                            <a href="/expressPathParameters" class="text-primary">○ 2. Express Path Parameters</a>
                        </li>
                        <li>
                            <a href="/changingStyles" class="text-primary">○ 3. Changing Styles</a>
                        </li>
                        <li>
                            <a href="/moreArrayMethods" class="text-primary">○ 4. More Array Methods</a>
                        </li>
                        <li>
                            <a href="/iteratingOverObjects" class="text-primary">○ 5. Iterating Over Objects</a>
                        </li>
                        <li>
                            <a href="/formEventsAndPreventDefault" class="text-primary">○ 6. Form Events &
                                preventDefault</a>
                        </li>
                        <li>
                            <a href="/forLoop" class="text-primary">○ 7. for Loop</a>
                        </li>
                        <li>
                            <a href="/stringTemplateLiterals" class="text-primary">○ 8. String Template Literals</a>
                        </li>
                        <li>
                            <a href="/undefinedAndNull" class="text-primary">○ 9. undefined & null</a>
                        </li>
                        <li>
                            <a href="/ifConditional" class="text-primary">○ 10. if Conditional</a>
                        </li>
                        <li>
                            <a href="/filterMethod" class="text-primary">○ 11. filter Method</a>
                        </li>
                        <li>
                            <a href="/destructuring" class="text-primary">○ 12. Destructuring</a>
                        </li>
                        <li>
                            <a href="/attributes" class="text-primary">○ 13. Attributes</a>
                        </li>
                        <li>
                            <a href="/rest" class="text-primary">○ 14. ...rest</a>
                        </li>
                        <li>
                            <a href="/thisKeywordEvents" class="text-primary">○ 15. this Keyword Events</a>
                        </li>
                        <li>
                            <a href="/objectLiterals" class="text-primary">○ 16. Object Literals</a>
                        </li>
                        <li>
                            <a href="/forEachMethod" class="text-primary">○ 17. forEach Method</a>
                        </li>
                        <li>
                            <a href="/alertsPrompts" class="text-primary">○ 18. Alerts & Prompts</a>
                        </li>
                        <li>
                            <a href="/theDOM" class="text-primary">○ 19. The DOM</a>
                        </li>
                        <li>
                            <a href="/ejsLayoutsTool" class="text-primary">○ 20. EJS Layouts Tool</a>
                        </li>
                        <li>
                            <a href="/thisKeywordInMethods" class="text-primary">○ 21. this Keyword In Methods</a>
                        </li>
                        <li>
                            <a href="/functions" class="text-primary">○ 22. Functions</a>
                        </li>
                        <li>
                            <a href="/parentChildSibling" class="text-primary">○ 23. Parent, Child & Sibling</a>
                        </li>
                        <li>
                            <a href="/eventBubbling" class="text-primary">○ 24. Event Bubbling</a>
                        </li>
                        <li>
                            <a href="/classList" class="text-primary">○ 25. classList</a>
                        </li>
                        <li>
                            <a href="/folderImportExport" class="text-primary">○ 26. Folder Import & Export</a>
                        </li>
                        <li>
                            <a href="/nodeJS" class="text-primary">○ 27. nodeJS</a>
                        </li>
                        <li>
                            <a href="/randomBackgroundColor" class="text-primary">○ 28. Random Background Color</a>
                        </li>
                        <li>
                            <a href="/definingMethods" class="text-primary">○ 29. Defining Methods</a>
                        </li>
                        <li>
                            <a href="/logicalOR" class="text-primary">○ 30. Logical OR (||)</a>
                        </li>
                        <li>
                            <a href="/elseIfConditional" class="text-primary">○ 31. else if Conditional</a>
                        </li>
                        <li>
                            <a href="/logicalAND" class="text-primary">○ 32. logical Operator AND (&&)</a>
                        </li>
                        <li>
                            <a href="/nestingConditions" class="text-primary">○ 33. Nesting Conditions</a>
                        </li>
                        <li>
                            <a href="/constUsedForArray" class="text-primary">○ 34. const Used With Arrays</a>
                        </li>
                        <li>
                            <a href="/switchStatement" class="text-primary">○ 35. switch Statement</a>
                        </li>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <div class="list-unstyled mb-0">
                        <li>
                            <a href="/link" class="text-primary">○ 1. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 2. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 3. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 4. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 5. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 6. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 7. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 8. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 9. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 10. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 21. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 22. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 23. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 24. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 25. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 26. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 27. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 28. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 29. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 30. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 31. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 32. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 33. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 34. link</a>
                        </li>
                        <li>
                            <a href="/link" class="text-primary">○ 35. link</a>
                        </li>

                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="/home">noDomainYet.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->