<% layout("./layouts/boilerplate") %>

  <h1>Lexical scope</h1>
  <p>
    A nested or inner function has access to the same variables and info as
    the parent function does.
  </p>
  <p>
    BUT If we have a variable in a bottom nested function, we can not access
    it from the parent function.
  </p>
  <script src="lexicalScope.js"></script>