<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="unitsCss.css" />


  <h1>CSS Units</h1>
  <p>
    Percentages help us make an element's width and height to a percentage of
    the parent's width and height.
  </p>
  <p>Here we have a div with a width and height of 150px.</p>
  <div class="div"></div>
  <p>
    Below we have a section inside a div, the parent div is styled in navy
    blue, while the child section is styled in gold. We have given it a 50%
    width and a 50% height.
  </p>
  <div class="div">
    <section class="section"></section>
  </div>
  <p>
    It is half as tall and half as wide, so we could fit 4 of these in the
    same space the parent div occupies.
  </p>
  <p>Here we set the child's height to 25% and the width to 75%.</p>
  <div class="div">
    <h4 class="h4"></h4>
  </div>