<% layout("./layouts/boilerplate") %>
  <h1>Nesting Conditions</h1>
  <p>
    We can nest conditions to check for multiple things, that way we can
    provide a different output depending on which conditions were and weren't
    met.
  </p>
  <p>
    We have made a password prompt for the user, we will be checking for
    multiple conditions, and there will be a success message if all of them
    are met, otherwise, we will specifically tell the user what went wrong.
  </p>
  <script src="nestingConditions.js"></script>