<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="responsive.css" />
  <h1>Responsive Demo</h1>
  <nav id="nav">
    <ul id="ul">
      <li id="li" class="home"><a href="dssd">Home</a></li>
      <li id="li" class="content"><a href="dasa">Content</a></li>
      <li id="li" class="other"><a href="dasa">Other</a></li>
      <li id="li" class="about"><a href="dasa">About</a></li>
      <li id="li" class="home"><a href="dasa">Help</a></li>
    </ul>
  </nav>
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus voluptate ex veniam deserunt, accusantium atque
    eaque iure animi ipsa dignissimos corrupti incidunt ut at sint inventore consequuntur numquam error deleniti!
    Consectetur repudiandae, aliquam suscipit magnam ipsum quam incidunt natus consequatur sit hic perferendis
    accusantium laborum similique officiis dicta odit labore, ut eaque, nesciunt repellat recusandae omnis? Quas quo
    culpa molestiae!
    At non rerum architecto amet veniam incidunt culpa facilis aut sed eos quasi, sunt pariatur a alias quis delectus
    earum, quia perferendis reiciendis nemo exercitationem officia, sapiente voluptatem! Nihil, sit!
    In perspiciatis voluptatum corrupti iusto ea ex magnam tempora nesciunt, doloribus exercitationem neque ducimus enim
    corporis labore fugit sed alias voluptate? Nesciunt reiciendis corrupti quibusdam ullam dolorem id quasi
    perspiciatis.
    Dolor quam eos atque veritatis blanditiis aliquid nulla consectetur non tempore? Nesciunt dolorem rerum placeat quas
    atque, et adipisci minus accusantium libero obcaecati. Voluptatum, voluptas cumque libero rerum aliquam iusto.
    Labore tempore quia sunt accusamus temporibus eos doloribus recusandae quam quas fugit cumque sequi veniam in
    cupiditate pariatur, deserunt beatae? Minima, nisi rem dolorem quos magni quibusdam voluptatibus optio? Commodi?
    Recusandae porro deleniti minus itaque corrupti harum aut perferendis delectus officiis iste neque ipsum ipsa soluta
    voluptatem, rem sunt eum officia alias labore mollitia, commodi voluptates? Nam dolores magnam officia!
    Id earum cum laudantium temporibus distinctio eaque modi. Nihil doloribus facere dolorum, optio beatae tempore,
    molestiae ut vitae magni nobis asperiores repellat laudantium libero corporis sit. Quae pariatur repellat officia.
    Labore velit, repudiandae quam eum consequuntur magni quasi exercitationem sit accusamus laudantium. In unde eius
    animi error eos praesentium suscipit, sed facere aut neque odio consequatur iure nemo ipsum excepturi.
    Laudantium commodi nostrum eos fugit tempore, nihil accusantium architecto error accusamus ratione qui officiis
    culpa ullam eligendi beatae illum odio nobis placeat repellendus! Quia inventore neque cum accusamus nulla nihil?
  </p>