<% layout("./layouts/boilerplate") %>

  <h1>Pink Floyd</h1>

  <p>
    Pink Floyd are an English rock band formed in London in 1965. Gaining an
    early following as one of the first British psychedelic groups, they were
    distinguished for their extended compositions, sonic experimentation,
    philosophical lyrics and elaborate live shows. They became a leading band
    of the progressive rock genre, cited by some as the greatest progressive
    rock band of all time.
  </p>

  <p>
    Pink Floyd were founded in 1965 by Syd Barrett (guitar, lead vocals), Nick
    Mason (drums), Roger Waters (bass guitar, vocals), and Richard Wright
    (keyboards, vocals). Under Barrett's leadership, they released two
    charting singles and the successful debut album The Piper at the Gates of
    Dawn (1967). Guitarist and vocalist David Gilmour joined in December 1967;
    Barrett left in April 1968 due to deteriorating mental health. Waters
    became the primary lyricist and thematic leader, devising the concepts
    behind the band's peak success with the albums The Dark Side of the Moon
    (1973), Wish You Were Here (1975), Animals (1977) and The Wall (1979). The
    musical film based on The Wall, Pink Floyd – The Wall (1982), won two
    BAFTA Awards. Pink Floyd also composed several film scores.
  </p>

  <h2>Members</h2>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem eveniet
    quasi placeat dolor facilis quos, provident cumque deleniti dolorum maxime
    molestiae sit consequuntur, quas esse id dignissimos quis porro pariatur.
  </p>

  <h2>Lorem</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, sint
    eius deleniti exercitationem, modi repudiandae rerum rem et neque
    necessitatibus totam magnam sapiente nemo aliquam atque facilis nulla
    eligendi ad!
  </p>

  <h3>Hello, just a bit smaller</h3>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut expedita
    porro ea dolores voluptates fugit aliquam eaque ipsum placeat libero. Odio
    dolorum, neque reiciendis rem eos alias suscipit! Voluptatum, repudiandae.
  </p>

  <h4>MDN References</h4>

  <p>Idk, something else</p>

  <div id="buttonDiv">
    <h5>QWERTY</h5>
  </div>
  <p>Some more lorem.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus omnis
    dolorum repellendus natus, similique fugit officiis nesciunt, iure soluta
    laborum deserunt cupiditate. Adipisci asperiores placeat, omnis
    praesentium commodi dolore fugit.
  </p>

  <div id="buttonDiv">
    <h6>The smallest heading in the world, (h6).</h6>
  </div>
  <p><b> bold text for comparison with header.</b></p>