<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="commonTextProperties.css" />

  <h1>Common Text Properties</h1>
  <p>There are many properties used for our text, here are a few.</p>

  <h2>Text-align</h2>
  <p>
    Text align helps us align the text to the center, left (which is the
    default), right and justify. Those are at least the most common uses.
  </p>
  <p>
    The title has been text aligned to the center. The header for this
    property was aligned to the right.
  </p>
  <h3>Font-weight</h3>
  <p>This attribute helps us make the font lighter or bolder.</p>
  <p>
    We can enter a value from 100 to 900 if the font allows it, only going up
    or down between these levels in steps of 100.
  </p>
  <p>A value given of 400 would be the normal font and 700 would be bold.</p>
  <p>We can also enter lighter, normal, bold and bolder as options</p>
  <p>The header for this attribute was set to a value of 900.</p>
  <h4>Text-decoration</h4>
  <p>
    This attribute helps us underline, overline, cross out and more, but we
    can also select a color for it directly from the attribute and choose a
    style for the line.
  </p>
  <p>The line can be regular, dotted, wavy and many more.</p>
  <p>Below we used a red wavy line-through.</p>
  <div id="buttonDiv">
    <h5>This text has a line through it.</h5>
  </div>
  <hr>
  <p>This one just spaces out the letters, like we did with this header.</p>
  <div id="buttonDiv">
    <h6>Letter-spacing</h6>
  </div>
  <p>We entered a value of 15px, but it can be any other too.</p>

  <h3>Line-height</h3>
  <p>
    Line-height just separates lines, increasing or decreasing the space between
    them.
  </p>
  <p>The paragraph below has a line-height of 50px.</p>
  <div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt veniam
      vel nisi omnis enim dolores architecto labore alias eius hic amet eaque
      maxime harum provident, illo fuga! Asperiores, fugiat debitis! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      doloremque, perspiciatis neque ad a sapiente odit perferendis. Corporis
      eos natus impedit repellendus suscipit ut quae, unde exercitationem,
      dolores id sapiente. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Nulla, sit. Voluptatum asperiores neque quos, deserunt dolores
      debitis qui? Culpa dolorum laborum fugiat ipsum cum debitis eos minus odio
      eveniet numquam?
    </p>