<% layout("./layouts/boilerplate") %>

  <link rel="stylesheet" href="colors.css" />

  <h1>Colors</h1>
  <p>
    There are 140 named colors ready to be chosen for styling, which is not
    much, but there are other options with millions of options available!
  </p>
  <p>The RGB helps us choose colors combined by red, green and blue.</p>
  <p>It looks like this: rgb(xxx,xxx,xxx)</p>
  <p>
    The xxx in between can be modified from 0 to 255 for each of the 3 spaces,
    being red, green and blue in order.
  </p>
  <hr />
  <p>
    The h1 element was styled with this code: h1 { color: rgb(255, 0, 0); }
  </p>
  <p>
    The background color for the body was styled with this code: body {
    background-color: rgb(0, 255, 0); }
  </p>
  <p>
    And the color for the text in the paragraphs was styled with this code: p
    { color: rgb(0, 0, 255); }
  </p>
  <p>The colors are red, green and blue!</p>
  <p>{ color: rgb(0, 0, 0); } would be black.</p>
  <p>
    { color: rgb(255, 255, 255); } would be white. This is the background
    color for the paragraphs.
  </p>
  <p>
    The lighter the color, the closer to white, and the darker, the closer to
    black!
  </p>
  <p>
    We can also use the hexadecimal rgb, which uses numbers 0 to 9, and
    letters A to F.
  </p>