<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="border.css" />
  <h1>Border</h1>
  <p>
    The border goes around the padding and content box. They are around every
    box.
  </p>
  <p>
    Some have rounded corners or may even look like a circle thanks to
    changing styles.
  </p>
  <p>
    We can style all borders, just one, just two or just three. It can be top
    and bottom, left and right, or any other combination we want.
  </p>
  <h2>Border Properties</h2>
  <p>
    The properties are border-width, border-color and border-style. The first
    controls the thickness, the second the color and the third the type of
    line style(solid, dashed,etc.).
  </p>
  <p>The paragraph below has all 3 properties changed.</p>
  <div id="buttonDiv">
    <div class="properties">
      <div>
        This is an example. No changes to width and height. The border-width is
        5px, the border-color is purple and the border-style is solid.
      </div>
    </div>
  </div>
  <p>Now here are 3 paragraphs, they are all set to a width of 400px.</p>

  <p>The first does not have a background-color or border styled.</p>
  <div id="buttonDiv">
    <div class="first">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vitae
        vero ipsum ex excepturi voluptas, eum, ut sit deleniti possimus
        asperiores quaerat harum dolore. Optio reprehenderit ad odit beatae
        tempore!
      </div>
    </div>
  </div>
  <p>The second has a background-color.</p>
  <div id="buttonDiv">
    <div class="second">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo fugit ipsa
        placeat voluptatibus optio unde tempora expedita dolorem modi animi,
        atque omnis doloribus doloremque ducimus possimus, at sunt quas sed.
      </div>
    </div>
  </div>
  <p>The third has a background-color and a border styled.</p>
  <div id="buttonDiv">
    <div class="third">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quisquam
        nobis ratione vero necessitatibus harum iure architecto vel non cum
        reiciendis debitis dolorum soluta totam, animi fugiat veritatis
        exercitationem repellat.
      </div>
    </div>
  </div>
  <p>
    As you can see, the third is now wider than the second, even though we set
    the width to 400px for all 3. And even the second looks a little wider
    than the first because of the background-color.
  </p>
  <p>
    The width of the third paragraph is now 420px because of the 10px border.
  </p>
  <p>
    We can change this with the box-sizing option and setting it to
    border-box.
  </p>
  <p>We did so below:</p>
  <div id="buttonDiv">
    <div class="fourth">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quisquam
        nobis ratione vero necessitatibus harum iure architecto vel non cum
        reiciendis debitis dolorum soluta totam, animi fugiat veritatis
        exercitationem repellat.
      </div>
    </div>
  </div>
  <div id="buttonDiv">
    <div class="fifth">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At quisquam
        nobis ratione vero necessitatibus harum iure architecto vel non cum
        reiciendis debitis dolorum soluta totam, animi fugiat veritatis
        exercitationem repellat.
      </div>
    </div>
  </div>
  <p>
    Even though the border styled paragraph still has a 10px border, this time
    it does not add it on top of the 400px width, it instead subtracts it,
    leaving box boxes looking the same!
  </p>
  </body>
  <h2>Other examples.</h2>
  <div id="buttonDiv">
    <div class="six">
      <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate amet
        nesciunt dignissimos aspernatur recusandae perferendis sint nemo adipisci
        minus assumenda ducimus aut, quia repudiandae nihil aliquid quam
        voluptatum, mollitia molestiae.
      </div>
      <p>This one has the left and bottom borders styled to 5px green dotted!</p>
    </div>
  </div>
  <h2>Border radius</h2>
  <p>
    This helps us make different shapes. It is normally used with percentages.
  </p>
  <p>
    a border-radius of 10px will give us slightly rounded corners, but one of
    50% will give us a circle.
  </p>
  <p>It can also be applied to only one, two, three or all corners.</p>
  <div id="buttonDiv">
    <div class="seven">
      <div>This paragraph has a border radius of 50%.</div>
    </div>
  </div>
  <div id="buttonDiv">
    <div class="eight">
      <div>This one two, but a width of 100px.</div>
    </div>
  </div>
  <div id="buttonDiv">
    <div class="nine">
      <div>Slight rounded corners on top left and bottom right!</div>
    </div>
  </div>
  <h2>With a picture inside!</h2>
  <img src="nftDeath.jpeg" alt="" />
  <h3>NFT's are dead..</h3>
  </div>