<% layout("./layouts/boilerplate") %>

  <h1>hr, br, sup and sub Elements</h1>
  <p>The first two elements do not have a closing tag.</p>
  <h2>hr Element</h2>
  <p>The hr element is simply a line that divides, a styling division.</p>
  <p>It can have many styles, but below is the default one.</p>
  <hr />
  <h2>br Element</h2>
  <p>Below is the firs part of The Raven, a poem by Edgar Allan Poe.</p>
  <p>
    The first does not have the br element after each line, the second does.
  </p>
  <p>
    Once upon a midnight dreary, while I pondered, weak and weary, Over many a
    quaint and curious volume of forgotten lore— While I nodded, nearly
    napping, suddenly there came a tapping, As of some one gently rapping,
    rapping at my chamber door. “'Tis some visitor,” I muttered, “tapping at
    my chamber door— Only this and nothing more.”
  </p>
  <p>
    Once upon a midnight dreary, while I pondered, weak and weary,<br />
    Over many a quaint and curious volume of forgotten lore—<br />
    While I nodded, nearly napping, suddenly there came a tapping,<br />
    As of some one gently rapping, rapping at my chamber door. <br />
    “'Tis some visitor,” I muttered, “tapping at my chamber door— <br />
    Only this and nothing more.”<br />
  </p>
  <p>
    It is used to break the line, instead of letting it continue until the
    window limit.
  </p>
  <p>You can also separate each line into a different paragraph</p>
  <h2>sup Element</h2>
  <p>This one is used to superposition text.</p>
  <p>Like in a number to the second power, (The number 2 below)</p>
  <p>5<sup>2</sup></p>
  <p>
    Or in a wikipedia type of quotation/reference/citations. This one is used
    along with href to go to a link.
  </p>
  <p>
    For this type, an anchor element with href is followed by the sup
    element,(opens and closes inside the sup element, and text is in the
    middle of it all.).
  </p>
  <p>
    "This is a famous quote someone never said"
    <sup><a href="fhkjf">[6]</a></sup>
  </p>
  <h2>sub Element</h2>
  <p>This one is used to place the text below the middle of the line.</p>
  <p>Like in a chemical composition like below.</p>
  <p>H<sub>2</sub>0 (Water)</p>
  <p>or</p>
  <p>C<sub>16</sub>H<sub>12</sub>O<sub>6</sub> (Glucose or blood sugar)</p>
  <p>or in fractions using sup for the 1 and sub for the 2.</p>
  <p><sup>1</sup>/<sub>2</sub></p>