<% layout("./layouts/boilerplate") %>
  <h1>These are just examples of links in a list!</h1>
  <ul>
    <li><a href="https://keep.google.com/">Google Keep</a></li>
    <li><a href="https://www.reddit.com/">Reddit</a></li>
    <li>
      <a href="https://news.google.com/topstories?hl=en-US&gl=US&ceid=US:en">Google News</a>
    </li>
    <li><a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a></li>
    <li>
      <a href="https://accounts.google.com/b/0/AddMailService">Gmail</a>
    </li>
  </ul>
  <p>The "< a>" element is called ANCHOR, the href attribute helps us create a link to any website we want.
  </p>