<% layout("./layouts/boilerplate") %>
  <link rel="stylesheet" href="fonts.css" />

  <h1 id="font">Fonts</h1>
  <p>
    Fonts helps us display our style to the user, there are many fonts
    available to choose from, although many times, users from Windows or Mac
    will not have certain fonts installed in their PC´s.
  </p>

  <h2>Font-size</h2>
  <p>This attribute helps us change the size of our text.</p>
  <div>
    <p>This paragraph has a font size of 50px.</p>
  </div>
  <h2>Font-family</h2>
  <p>
    This attribute helps us choose the fonts we want to use on the user´s
    screen. We can add multiple fonts separated by a comma, this is the order
    in which the page will try to show the font in.
  </p>
  <p>
    If the user does not have the first font, it will check for the second and
    so on.
  </p>
  <p>
    The header of the pages has this code: h1 { font-family: Montserrat, Lato,
    Roboto, Helvetica; }
  </p>
  <p>
    Since we only have Helvetica installed, that is the one it shows skipping
    the other 3.
  </p>
  <p>
    The fonts installed locally will show in a different color than the rest.
  </p>