<% layout("./layouts/boilerplate") %>

  <h1>Async Keyword</h1>
  <p>
    They help us make our code cleaner, but don't provide anything we couldn't
    do before.
  </p>
  <p>We use async along with the await keyword.</p>
  <p>Async functions return a promise.</p>
  <p>
    If that function returns a value, it will return along with the value.
  </p>
  <p>
    We need to include our async keyword before the function name to make sure
    it return this promise object.
  </p>
  <script src="asyncKeyword.js"></script>