<% layout("./layouts/boilerplate") %>

  <h1>Emmet Shortcuts</h1>
  <p>
    THere are many shortcuts that are useful when creating nested elements,
    lists,etc. that will save us time and are convenient to type a little
    less.
  </p>

  <p>Here we typed main &gt; section &gt; unordered list &gt; list item.</p>
  <main>
    <section>
      <ul>
        <li>I was a product of 7 keys being pressed.</li>
      </ul>
    </section>
  </main>
  <p>
    So that listed item is inside an unordered list, which is inside a
    section, inside of the main element!
  </p>
  <p>Here we did the same, only added *10 (Times ten) at the end.</p>
  <p>
    We had to open the palette with Ctrl + Alt + P and then choose expand
    abbreviation.
  </p>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
  </ul>