<% layout("./layouts/boilerplate") %>

  <h1>Inputs</h1>
  <p>
    A form is a document section containing interactive controls for
    submitting information.
  </p>
  <p>
    The action attribute comes with it, this is to enter the location where
    the info will be sent to.
  </p>
  <hr />
  <p>The input element is a self-closing one.</p>
  <p>Below are four input types, text, color, password and number.</p>
  <p>
    The placeholder attribute is used to have a grayed out text shown to the
    user, which is immediately removed upon the user entering any information.
    It is inside the input element.
  </p>
  <hr />
  <p>Text is used for usernames, or any other text.</p>
  <div id="buttonDiv"><input type="text" placeholder="Enter your username, or any text!" /></div>
  <hr />
  <p>Color is to choose any color. No placeholder for color unfortunately.</p>
  <div id="buttonDiv"><input type="color" /></div>
  <hr />
  <p>
    Password is pretty straight forward, you can not see any text entered for
    security purposes.
  </p>
  <div id="buttonDiv"><input type="password" placeholder="Password" /></div>
  <hr />
  <p>
    Number is for any number, all keys that are not numbers will not work with
    this input type.
  </p>
  <p>
    Also it has an up and a down arrow to decrease or increase the number
    entered.
  </p>
  <div id="buttonDiv"><input type="number" placeholder="Enter a number" /></div>