<% layout("./layouts/boilerplate") %>

  <h1>Div and Span Elements</h1>
  <p>
    The div element helps us put multiple content types in the same block.
  </p>
  <p>
    The span element lets us choose a certain span of text, which can later be
    styled with CSS.
  </p>
  <div id="buttonDiv">
    <img src="./frankAndAsap.jpeg" alt="" />
    <p>This paragraph is in the same div as the image.</p>
    <a href="hkfskdhjkds">And so is this fake link.</a>
  </div>
  <p>
    Now look at the same content without a div element below this paragraph.
  </p>
  <div id="buttonDiv">
    <img src="./frankAndAsap.jpeg" alt="" />
    <p>This paragraph is in the same div as the image.</p>
    <a href="hkfskdhjkds">And so is this fake link.</a>
  </div>
  <p>
    Not many changes, actually none, but wait until you use CSS along with
    divs!
  </p>

  <p>The same thing happens with the span element.</p>
  <p>
    This text has the word <span>red</span> surrounded by a span element, but
    since there is no CSS, nothing really happens.
  </p>
  </body>

  </html>